img#ri4ag {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
  }
  
  .figure-element {
    display: inline-block;
    width: 20%;
  }

  #spinners-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    transition: all 5s ease-out;
    
  }

  .row{
    height: 98px;
  }

  #cropper{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 100%;
    overflow: hidden;
  }

  .row img {
    height: 90px;
    width: 100%;
  }